index
**/target
**/*.rs.bk
**/result*

.direnv/
logs
.env
/build_output.log
/cargo_build_log.log
/full_build_log.log

vendor/
# Temporary files
#*#
.#*
diff.txt
nixbuild.log
submodules/#*#
submodules/.#*
submodules/*.sh~
submodules/todo.txt
# Emacs backup files
*~
# Emacs auto-save files
\#*#
# Emacs lock files (for some configurations)
.#*
vendor-hide
