[submodule "vendor/libminizinc-main"]
	path = vendor/libminizinc-main
	url = https://github.com/meta-introspector/libminizinc.git
	branch = feature/community-docs

[submodule "vendor/libminizinc"]
	path = vendor/libminizinc
	url = https://github.com/meta-introspector/minizinc-introspector.git
